.navbarTitle {
display: flex;
flex-direction: column;
align-items: center;
font-size: 36px;
color: #353839;
padding-top: 16px;
}

.activeLink {
  text-decoration: none;
  color: #353839;
  font-weight: bold;
  background-color: #B4E4FF;
  padding: 8px 16px;
  display: block;;

}

.pageContainer {
  position: relative;
  min-height: 100vh;
}

.contentWrap {
  padding-bottom: 2.5rem;
}
.brandLink {
  text-decoration: none;
}

.noneDecoration {
  text-decoration: none;
  color: #353839;
  font-weight: bold;
  padding: 8px 16px;
}



.smallTitle {
  color: #B4E4FF;
  font-size: 24px;
}

.container {
  width: 90%;
  margin: auto;
}

.blogsContainer {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.navigation {
  
  margin-top: 16px;
  border-top: #B4E4FF 1px solid;
  border-bottom: #B4E4FF 1px solid;
  
  
  display: flex;
  flex-direction: column;
}

.links {
  font-size:16px ;
  display: flex;
  width: 100%;

  

  justify-content: space-between;
 color: #353839;
}


.socialLinks {
  display: flex;
  justify-content: center;
  gap: 24px;
  color: gray;
  font-weight: bold;
  display: none;
  padding: 8px;
}

.grayLink {
  color: #B4E4FF;
}

.aboutMe {
  display: flex;
  margin-top: 24px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pp {
  border-radius: 50%;
  margin-top: 16px;
}

.desc {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 600;
}

@media screen and (min-width: 800px) {
  .container{
    width: 85%;
  }

  .navigation {
    display: flex;
    flex-direction: row;
  }
  .links {
    width: 50%;
  }

  .blogsContainer {
    width: 85%;
    flex-direction: row;
    justify-content: space-between;
  }
  .socialLinks {
    margin-left: auto;
    width: 100px;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .container{
    width: 70%;
    
  }

  .navigation {
    display: flex;
    flex-direction: row;
  }
  .links {
    width: 50%;
  }
  .socialLinks {
    margin-left: auto;
    width: 100px;
    display: flex;
  }

  .blogsContainer {
    width: 70%;
    flex-direction: row;
    gap: 16px;
  }
}

.iconSpan {
  display: flex;
  align-items: center;
}



